.table-source {
  border-bottom: 2px solid #096dd9;
  background: #bddce4;
}

/* .ant-table-thead > tr > th {
  transition: opacity .3s;
  background:#d44848;
  color:#d44848;
  border-bottom: 1px solid #ca4e4e;
} */

.ant-table table {
  color: rgb(5, 98, 175);
  background-color: #bddce4;
  border-bottom: 2px solid #096dd9;
}

.ant-table-column-sorter-down {
  color: rgb(39, 140, 223);
}

.ant-table-column-sorter-up {
  color: rgb(39, 140, 223);
}

.titleBar {
  background-color:#096dd9;
  display: block;
  color: #fff;
  padding-left: 16px;
}

